@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fff;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.branco {
  color: #ffffff;
}

.laranja {
  color: #db5733;
}

.laranjabg {
  background-color: #db5733;
}

.cinza {
  color: #868686;
}

.cinzabg {
  background-color: #868686;
}

.cinzaEscuro {
  color: #707070;
}

.cinzaEscurobg {
  background-color: #707070;
}

.cinzaClaro {
  color: #ececec;
}

.cinzaClarobg {
  background-color: #ececec;
}
